extends base.pug

block style
    style
      include ../static/style.css

block content

    section#introSection
        div Welcome to Bhargav's Dance Academy
        div.small Eat Sleep Dance Repeat

    section#missionSection
      div.mission Our Mission
      
      div.card
        p Contemporary Dance
        div#card-img
          img(src="https://images.unsplash.com/photo-1519925610903-381054cc2a1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80", alt="")
        div#card-content
          | We will start contemporary dance classes Soon.
      
      div.card
        p Group Dance
        div#card-img
          img(src="https://images.unsplash.com/photo-1550026593-cb89847b168d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80", alt="")
        div#card-content
          | We will start Group dance classes Soon.

      div.card
        p Dance the way you like
        div#card-img
          img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQLukqdWUJdLl0Wk3b7P1A0zQ_oQYjwEPIR4w&usqp=CAU", alt="")
        div#card-content
          | To explore various style of dance.

    section#sponsorSection
        div.head Our Sponsor

        div#sponsors
          img(src="https://i.vimeocdn.com/portrait/25661732_300x300", alt="")
          img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTovX8jDgzaSdbDlOiOWhV2JTTPjWuR4F32dA&usqp=CAU", alt="")
          img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT--L9r9NEt1lW5hQPWCG_YnE-bUrOv8zSYBg&usqp=CAU", alt="")
          img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSNi4Ja1xNp8KEwyUNtk528w2rHNNaP1IPI7A&usqp=CAU", alt="")
          img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSjqsllx6GJIRNcO3NMymQNW7mpBKuBxS2_zQ&usqp=CAU", alt="")
