/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

#logo{
    display: flex;
    /* flex-direction: column; */
    color: white;
    align-items: center;
}

#logo:hover{
    color: rgb(177, 240, 164);
}

#logo img{
    height: 40px;
    filter: invert(1);
}

#logo img:hover{
    filter: invert(0.7);
}

#navbar{
    background-color: black;
    padding: 9px;
    font-family: 'Baloo Bhai 2', cursive;
}


#navbar ul{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

#navbar li{
    list-style: none;

}

#navbar li a{
    text-decoration: none;
    padding: 7px 25px;
    color : white;
}

#navbar li a:hover{
    background-color: rgb(250, 185, 185);
    color : black;
}

#introSection{
    background: center / cover no-repeat url('https://images.unsplash.com/photo-1483931430372-226f194be3a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    height: 300px;
    background-color: yellow;
    color : white;
    font-family: 'Lobster', cursive;
    font-size: 35px;
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.8;
}

#introSection div.small{
    font-size: 27px;
}

#missionSection{
    height: 300px;
    font-family: 'Lobster', cursive;
    font-size: 35px;
}

#missionSection div.mission{
    text-align: center;
    padding: 7px 0px 7px 0px;

}

#missionSection div.card{
    border:2px black solid;
    border-radius: 7px;
    height : 200px;
    width: 30%;
    display:inline-block;
    align-items: center;
    margin-left : 30px;
    margin-top : 5px;
    padding: auto;
    text-align: center;
    font-size: 20px;
    background-color: rgb(203, 252, 255);
}

div.card p{
    font-size: 22px;
    margin: 5px 0px 10px 0px;
}

#card-img img{
    margin: 10px 0px 5px 0px;
    height: 70px;
}

#card-content{
    font-size: 16px;
}

#sponsorSection{
    background-color: rgb(250, 185, 185);
    height: 300px;
    font-family: 'Lobster', cursive;
    font-size: 35px;
}

#sponsorSection div.head{
    text-align: center;
    padding-top: 10px;
}

#sponsors{
    display: flex;
    height: 200px;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#sponsors img{
    height: 150px;
    width : 17%;
}

#footer{
    background-color: black;
    color: white;
    height:40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}